body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 132px;
  border-bottom: 2px solid black;
  margin-bottom: 35px;
}

.layout {
  width: 85%;
  margin: 0 auto;
}

.header .logo {
  flex-grow: 2;
  display: flex;
}

.header .logo span {
  display: block;
  font-size: 90px;
  font-weight: bolder;
  margin-top: -8px;
}

.header .logo h3 {
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: 300;
  text-transform: uppercase;

}

.header nav {
  flex-grow: 1;
}

.header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 132px;
}

.header li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;

}

.header li a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}


.header .active {
  color: #fa4529;

}

.header a:hover {
  color: #fa4529;

}


.content {
  min-height: 600px;


}

.footer {
  min-height: 40px;
  line-height: 7px;
  text-align: center;
  font-size: 14px;
  margin-top: 80px;
  padding-top: 45px;
  border-top: 3px solid black;
  background: #f5f5f5;
  color: #444;
}

.home h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 46px;
  margin-bottom: 0px;
  margin-top: 80px;
}

.home strong {
  color: #fa4529;
}

.home h2 {
  color: rgb(98, 97, 97);
  font-weight: lighter;
}

.home .title a {
  padding: 7px;
  border-radius: 5px;
  color: white;
  background-color: #fa4529;
  text-decoration: none;
  transition: 0.5s;
}



.home .heading,
.page .heading {
  font-size: 40px;
  font-weight: 500;
  color: black;
  margin-bottom: 0px;
}

.page .heading {
  font-size: 55px;
  font-weight: bold;
}

.home p {
  color: rgb(98, 97, 97);
}

input[type="text"],
textarea {
  display: block;
  padding: 15px;
  margin-top: 25px;
  width: 250px;
}

input[type="submit"],
button {
  font-size: 15px;
  margin-top: 15px;
  padding: 15px;
  border: 0px;
  border-radius: 5px;
  color: white;
  background-color: #fa4529;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}

.home .title a:hover,
input[type="submit"]:hover,
button:hover {
  background-color: rgb(13, 76, 193);
}

.works {

  display: flex;
  flex-wrap: wrap;

}

.work-item {

  flex-basis: 30%;
  flex-grow: 1;
  margin: 30px;
  cursor: pointer;

}

.work-item img {
  width: 100%;
  transition: 0.5s;
}

.work-item .mask {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 15px #ddd;
}

.work-item .mask img:hover {
  width: 150%;
  margin-right: 30%;

}

.work-item span {
  display: block;
  color: gray;
  margin-top: 35px;
}

.work-item h2 {
  font-size: 30px;
  display: block;
  color: black;
  margin-top: 5px;
  margin-bottom: 10px;
}

.work-item a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

.work-item a:hover {
  color: #fa4529;

}

.work-item h3 {
  display: block;
  color: grey;
  padding-top: 15px;
  margin-top: 0px;
  border-top: 1px solid #ddd;
}



.page-work .mask {

  height: auto;
  width: auto;

  box-shadow: 0px 0px 20px #ccc;

}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.arrow {
  width: 190px;
  height: 140px;
}

.oneProject {
  width: 100%;
}


.h2tecno {
  text-align: center;
}

.techs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tech-icons {
  position: relative;
  display: flex;
  width: 190px;
  height: 140px;
  font-size: 4.5em;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 15px #ddd;
  align-items: center;
  justify-content: center;

}

.tech-icons :hover {
  transition: 0.5s;
  color: #fa4529;

}

.tech-icons strong {
  position: absolute;
  top: 110px;
  font-size: 14px;
}

.cv {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cv button {
  width: 10%;
  margin: 0 auto;
}

.cv img {
  width: 70%;
  margin: 0 auto;
}

.contacto {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
}

.redes {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 30%;
}

svg {
  cursor: pointer;

}

svg:hover {
  transform: scale(1.1);
}

.whatsapp {
  width: 400px;
  display: flex;
  gap: 30px;

}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #000000;
  border-radius: 0.2rem;
}

@media (max-width: 480px) {

  .work-item .mask {
    height: auto;
  }

  .header {
    border: 0;
  }

  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav .menu {
    display: flex;
    top: 0.75rem;
    right: 0.75rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
  }

  nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: black;
    border-radius: 0.2rem;
    transition: 0.4s;

  }

  nav ul {

    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
    gap: 0.7rem;


  }

  header nav ul {
    position: absolute;
    top: 3%;
    left: -100.75%;
    transition: 0.4s;
  }

  header nav ul.open {
    position: absolute;
    top: 3%;
    left: -6.75%;
    transition: 0.4s;
  }


  .change1 {
    transform: translate(0, 11px) rotate(-45deg);
  }


  .change2 {
    opacity: 0;
  }


  .change3 {
    transform: translate(0, -11px) rotate(45deg);
  }


  .logo {
    display: none !important;
  }

  .home .title a {
    padding: 1.5px;
  }

  .lenguajes {
    margin-top: 20%;
  }

  .techs {
    width: 100%;
    flex-wrap: wrap;
  }

  .cv {
    margin-top: 20%;

  }

  .cv button {
    width: 35%;
  }
}